<<<<<<< HEAD
.message_block{
  margin: 5px 0;
  margin-left: 5px;
  margin-right: 80px;
  align-self: left;
  background-color: #5b5bff;
  border-radius: 16px;
}
.message {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 15px;
  word-break: break-all;
=======
.message {
  margin: 5px 5px;
  align-self: left;
  background-color: #5b5bff;
  border-radius: 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
>>>>>>> ac8ec9601349bf488e9924ca761cac1b55294870
}

.message__like {
  width: auto;
  height: 16px;
  padding-left: 10px;
  cursor: pointer;
}

<<<<<<< HEAD
.answer_block{
  margin: 5px 0px;
  margin-left: 60px;
  margin-right: 5px;
  align-self: left;
  background-color: orange;
  border-radius: 16px;
}

=======
>>>>>>> ac8ec9601349bf488e9924ca761cac1b55294870
.author{
  color: #000000;
  align-self: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
}

.user_block{
  display: flex;
  opacity: 0;
  animation: show 3s forwards;
  align-self: start;
}

<<<<<<< HEAD

.author_block{
=======
.answer_block{
>>>>>>> ac8ec9601349bf488e9924ca761cac1b55294870
  display: flex;
  opacity: 0;
  animation: show 3s forwards;
  flex-direction: row-reverse;
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}