.message {
  margin: 5px 5px;
  align-self: left;
  background-color: #5b5bff;
  border-radius: 16px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
}

.message__like {
  width: auto;
  height: 16px;
  padding-left: 10px;
  cursor: pointer;
}

.author{
  color: #000000;
  align-self: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
}

.user_block{
  display: flex;
  opacity: 0;
  animation: show 3s forwards;
  align-self: start;
}

.answer_block{
  display: flex;
  opacity: 0;
  animation: show 3s forwards;
  flex-direction: row-reverse;
}
@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}